.row{
    padding: 20px;
    background-color: #F7ECDE;
}
.contenedor{
    width: auto;
}
.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}
.img-proyecto{
    box-shadow: 10px 20px #E9DAC1;
    width: 180%;
}