<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="80"
        [radius]="60"
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#18978F'"
        [innerStrokeColor]="'#54BAB9'"
        [animation]="true"
        [animationDuration]="700"
       
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="60"
            [imageSrc]="'../assets/git.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="5"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#18978F'"
            [innerStrokeColor]="'#54BAB9'"
            [animation]="true"
            [animationDuration]="700"
           
        ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="80"
                [radius]="60"
                [imageSrc]="'../assets/css.png'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="5"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#18978F'"
                [innerStrokeColor]="'#54BAB9'"
                [animation]="true"
                [animationDuration]="700"
               
            ></circle-progress>
            </div>
            <div class="text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                    [percent]="80"
                    [radius]="60"
                    [imageSrc]="'../assets/js.png'"
                    [showImage]="true"
                    [imageHeight]="70"
                    [imageWidth]="70"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [outerStrokeWidth]="5"
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#18978F'"
                     [innerStrokeColor]="'#54BAB9'"
                    [animation]="true"
                    [animationDuration]="700"
                   
                ></circle-progress>
                </div>
                <div class="text-center col-sm-4 col-md-4 col-lg-4">
                    <circle-progress
                        [percent]="90"
                        [radius]="60"
                        [imageSrc]="'../assets/eng.png'"
                        [showImage]="true"
                        [imageHeight]="70"
                        [imageWidth]="70"
                        [showUnits]="false"
                        [showSubtitle]="false"
                        [outerStrokeWidth]="5"
                        [innerStrokeWidth]="2"
                        [outerStrokeColor]="'#18978F'"
                        [innerStrokeColor]="'#54BAB9'"
                        [animation]="true"
                        [animationDuration]="700"
                       
                    ></circle-progress>
                    </div>
                    <div class="text-center col-sm-4 col-md-4 col-lg-4">
                        <circle-progress
                            [percent]="100"
                            [radius]="60"
                            [imageSrc]="'../assets/grupal.png'"
                            [showImage]="true"
                            [imageHeight]="70"
                            [imageWidth]="70"
                            [showUnits]="false"
                            [showSubtitle]="false"
                            [outerStrokeWidth]="5"
                            [innerStrokeWidth]="2"
                            [outerStrokeColor]="'#18978F'"
                            [innerStrokeColor]="'#54BAB9'"
                            [animation]="true"
                            [animationDuration]="700"
                           
                        ></circle-progress>
                        </div>
    </div>
