<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo 1</h1> - 
                <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores rem ducimus ipsum tempore quibusdam minus explicabo ratione consequuntur iusto natus soluta itaque, repudiandae quas non labore enim doloribus perferendis. Soluta. </p>
            <li><h1>Trabajo 2</h1> - 
                <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores rem ducimus ipsum tempore quibusdam minus explicabo ratione consequuntur iusto natus soluta itaque, repudiandae quas non labore enim doloribus perferendis. Soluta. </p>
            <li><h1>Trabajo 3</h1> - 
                <h3>(years)</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores rem ducimus ipsum tempore quibusdam minus explicabo ratione consequuntur iusto natus soluta itaque, repudiandae quas non labore enim doloribus perferendis. Soluta. </p>
            </li>
        </ul>
    </div>
</div>
